In [12]:
import numpy as np
import pandas as pd

import plotly.plotly as py
py.sign_in('yuqimemeda', "pk4usp8314")
import plotly.graph_objs as go

df = pd.read_csv('/Users/YuqiGuo/Python_Course/Final_Project/data_summary.csv',parse_dates=['Date'],infer_datetime_format=True)
df.head()

TypeError: cannot convert the series to <type 'float'>

In [13]:
df['Miles_per_trip']=df.Miles_day/df.Trips

In [14]:
df.head()

,Date,Trips,Cumulative_trips,Miles_day,Miles_traveled_to _date,Total_Annual_Members,one_day_pass,7_Day_Passes,Miles_per_trip
0,2015-01-01,5792,15216843,9191,26055797,127279,267,11,1.586844
1,2015-01-02,12371,15229214,18222,26074019,127293,298,8,1.472961
2,2015-01-03,4834,15234048,6282,26080301,127300,96,7,1.299545
3,2015-01-04,8509,15242557,11700,26092001,127308,152,5,1.375015
4,2015-01-05,15792,15258349,20022,26112023,127336,88,12,1.267857

In [11]:
import plotly.plotly as py
py.sign_in('yuqimemeda', "pk4usp8314")
import plotly.graph_objs as go


data = [
    go.Bar(
        x=df["Date"],
        y=df["Miles_day"],
        marker=dict(
            color='rgb(30,144,255)'
        )
    )
]

layout = go.Layout(
    title='Miles Per Day in 2015',
    font=dict(
        family='Raleway, sans-serif'
    ),
    showlegend=False,
    xaxis=dict(
        tickangle=-45,
        tickmode="array",
        dtick=14,
        nticks=31,
        ticks="outside",
        tickcolor="rgb(255, 127, 14)"
    ),
    yaxis=dict(
        zeroline=False,
        gridwidth=2,
    tickfont=dict(
            size=15,
    )),
    bargap=0.05
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='miles per day')

In [18]:

data = [
    go.Bar(
        x=df["Date"],
        y=df["Miles_per_trip"],
        marker=dict(
            color='rgb(30,144,255)'
        )
    )
]

layout = go.Layout(
    title='Daily Miles Per Trip in 2015',
    font=dict(
        family='Raleway, sans-serif'
    ),
    showlegend=False,
    xaxis=dict(
        tickangle=-45,
        tickmode="array",
        dtick=14,
        nticks=31,
        ticks="outside",
        tickcolor="rgb(255, 127, 14)"
    ),
    yaxis=dict(
        zeroline=False,
        gridwidth=2,
    tickfont=dict(
            size=15,
    )),
    bargap=0.05
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='miles per trip')

In [20]:

data = [
    go.Bar(
        x=df["Date"],
        y=df["one_day_pass"],
        marker=dict(
            color='rgb(255,99,71)'
        )
    )
]

layout = go.Layout(
    title='Daily Sales of One-Day Pass',
    font=dict(
        family='Raleway, sans-serif'
    ),
    showlegend=False,
    xaxis=dict(
        tickangle=-45,
        tickmode="array",
        dtick=14,
        nticks=31,
        ticks="outside",
        tickcolor="rgb(255, 127, 14)"
    ),
    yaxis=dict(
        zeroline=False,
        gridwidth=2,
    tickfont=dict(
            size=15,
    )),
    bargap=0.05
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='sales of one day pass')

In [22]:
data = [
    go.Bar(
        x=df["Date"],
        y=df["7_Day_Passes"],
        marker=dict(
            color='rgb(255,99,71)'
        )
    )
]

layout = go.Layout(
    title='Daily Sales of One-Week Pass',
    font=dict(
        family='Raleway, sans-serif'
    ),
    showlegend=False,
    xaxis=dict(
        tickangle=-45,
        tickmode="array",
        dtick=14,
        nticks=31,
        ticks="outside",
        tickcolor="rgb(255, 127, 14)"
    ),
    yaxis=dict(
        zeroline=False,
        gridwidth=2,
    tickfont=dict(
            size=15,
    )),
    bargap=0.05
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='sales of one week pass')