In [1]:
import urllib as ul #url.request lib for handling the url
from bs4 import BeautifulSoup #bs for parsing the page
from datetime import datetime, date, time

import pandas as pd
import statsmodels.formula.api as sm
import collections

In [2]:
data_frame=pd.read_csv('/Users/YuqiGuo/Python_Course/Final_Project/new.csv')

In [3]:
customer_number=[]
time_no_seconds=[0,1,2,5]
for i in range(12):
    if i in time_no_seconds:
        test=[datetime.strptime(x,"%m/%d/%Y %H:%M") for x in ((data_frame.ix[data_frame['month']==(i+1)]).starttime)]
        new=[]
        for j in test:
            new.append(j.day)
        count=collections.Counter(new)
        count_dict=dict(count)     
        for k,v in count_dict.items():
            customer_number.append(v)
    else:
        test=[datetime.strptime(x,"%m/%d/%Y %H:%M:%S") for x in ((data_frame.ix[data_frame['month']==(i+1)]).starttime)]
        new=[]
        for j in test:
            new.append(j.day)
        count=collections.Counter(new)
        count_dict=dict(count)     
        for k,v in count_dict.items():
            customer_number.append(v)

In [62]:
df_weather=pd.read_csv('/Users/YuqiGuo/Desktop/weather2.csv')
df_weather

          EST  MAXT PrecipitationIn   CloudCover         Events
0      1/1/15    39               0          0.0            NaN
1      1/2/15    42               0          1.0            NaN
2      1/3/15    42            0.71          6.0      Rain-Snow
3      1/4/15    56             0.3          7.0           Rain
4      1/5/15    49               0          2.0            NaN
5      1/6/15    22            0.05          5.0           Snow
6      1/7/15    23               0          2.0            NaN
7      1/8/15    21               0          0.0            NaN
8      1/9/15    33            0.07          4.0           Snow
9     1/10/15    23               0          0.0            NaN
10    1/11/15    37               0          2.0            NaN
11    1/12/15    39            0.36          8.0           Rain
12    1/13/15    36               0          3.0            NaN
13    1/14/15    32               0          5.0            NaN
14    1/15/15    35               0          3.0            NaN
15    1/16/15    43               0          2.0            NaN
16    1/17/15    32               0          0.0            NaN
17    1/18/15    42             2.1          7.0       Fog-Rain
18    1/19/15    42               0          7.0            NaN
19    1/20/15    40               0          4.0            NaN
20    1/21/15    36               0          4.0            NaN
21    1/22/15    40               0          6.0            NaN
22    1/23/15    39               0          1.0            NaN
23    1/24/15    39            0.72          7.0  Fog-Rain-Snow
24    1/25/15    42               0          3.0            NaN
25    1/26/15    31            0.48          8.0       Fog-Snow
26    1/27/15    30            0.36          6.0       Fog-Snow
27    1/28/15    34               0          0.0            NaN
28    1/29/15    36            0.02          4.0           Snow
29    1/30/15    38            0.06          6.0           Snow
..        ...   ...             ...          ...            ...
335   12/2/15    57            0.14          8.0           Rain
336   12/3/15    55               T          5.0            NaN
337   12/4/15    51               0          2.0            NaN
338   12/5/15    51               0          0.0            NaN
339   12/6/15    53               0          0.0            NaN
340   12/7/15    54               0          0.0            NaN
341   12/8/15    49               0          3.0            NaN
342   12/9/15    55               0          7.0            NaN
343  12/10/15    60               T          2.0            NaN
344  12/11/15    61               0          0.0            NaN
345  12/12/15    66               T          3.0            NaN
346  12/13/15    67               0          3.0            NaN
347  12/14/15    67            0.33          7.0           Rain
348  12/15/15    68            0.09          5.0           Rain
349  12/16/15    53            0.04          5.0           Rain
350  12/17/15    59            1.21          8.0           Rain
351  12/18/15    57               T          6.0           Rain
352  12/19/15    40               0          5.0            NaN
353  12/20/15    43               0          2.0            NaN
354  12/21/15    56               0          2.0            NaN
355  12/22/15    62            0.19          7.0           Rain
356  12/23/15    64            1.55          7.0           Rain
357  12/24/15    72            0.01          5.0           Rain
358  12/25/15    66            0.01          6.0           Rain
359  12/26/15    59               T          8.0           Rain
360  12/27/15    61            0.12          8.0           Rain
361  12/28/15    46            0.03          3.0           Rain
362  12/29/15    46            0.45          8.0           Rain
363  12/30/15    48            0.19          7.0           Rain
364  12/31/15    48            0.03          7.0           Rain

[365 rows x 5 columns]

In [47]:
max_temperature=df_weather['MAXT']

In [48]:
max_pre=df_weather['PrecipitationIn']

In [53]:
df_weather=df_weather.fillna('NA')

In [67]:
events=df_weather[' Events']

In [68]:
time=list(range(365))

In [126]:
month_name=['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec']

In [70]:
month_day=[31,28,31,30,31,30,31,31,30,31,30,31]

In [133]:
month=[]
for j in range(12):
    for i in range(month_day[j]):
        month.append(month_name[j])

In [176]:
weekday=list()
for i in range(365):
    j =i % 7 +4
    if j == 6 or j == 7:
        weekday.append(False)
    else:
        weekday.append(True)

In [106]:
df_customer=pd.read_csv('/Users/YuqiGuo/Desktop/data_summary.csv')

In [107]:
trips=df_customer.Trips

In [146]:
df = pd.DataFrame({"customer": trips, "time": time,"month":month, "temperature":max_temperature, "prep": max_pre, "weekday":weekday,'events':events })

In [147]:
df.prep[df.prep=='T']=0
df.prep=df.prep.astype(float)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [149]:
df.iloc[118]

customer       34427
events           NaN
month            Apr
prep               0
temperature       78
time             118
weekday         True
Name: 118, dtype: object

In [217]:
result = sm.glm(formula="customer ~   temperature + prep + weekday ", data=df).fit()

In [218]:
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               customer   No. Observations:                  365
Model:                            GLM   Df Residuals:                      361
Model Family:                Gaussian   Df Model:                            3
Link Function:               identity   Scale:                   49061973.5785
Method:                          IRLS   Log-Likelihood:                -3747.7
Date:                Tue, 28 Jun 2016   Deviance:                   1.7711e+10
Time:                        14:25:28   Pearson chi2:                 1.77e+10
No. Iterations:                     4
===================================================================================
                      coef    std err          z      P>|z|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
Intercept       -9872.5169   1389.342     -7.106      0.000     -1.26e+04 -7149.456
weekday[T.True]  6522.9317    812.336      8.030      0.000      4930.782  8115.082
temperature       534.5325     18.752     28.506      0.000       497.780   571.285
prep            -9960.7130   1212.917     -8.212      0.000     -1.23e+04 -7583.439
===================================================================================

In [167]:
data_2016=pd.read_csv('/Users/YuqiGuo/Desktop/data-2016.csv',parse_dates=['Date'],infer_datetime_format=True)
data_2016.head()
trip_2016=data_2016['Trips over the past 24-hours (midnight to 11:59pm)']

In [168]:
trip_2016

0     11009
1     14587
2     15499
3     19593
4     18053
5     24569
6     27773
7     28709
8     20846
9     14275
10    22937
11    25211
12    21133
13    23780
14    28435
15    19178
16    12024
17    12718
18    17281
19    23419
20    23671
21    20950
22        0
23        0
24        0
25        0
26     6760
27    11944
28    16028
29    12964
      ...
61    26195
62    24061
63    17369
64    18023
65    18832
66    31492
67    36521
68    41489
69    42252
70    38193
71    32770
72    27549
73    10930
74    31595
75    36067
76    35390
77    34647
78    24048
79    16676
80    26414
81    33496
82    40981
83    36495
84    34091
85    27474
86    22481
87    20344
88    31481
89    33674
90    38192
Name: Trips over the past 24-hours (midnight to 11:59pm), dtype: int64

In [182]:
weather_2016=pd.read_csv('/Users/YuqiGuo/Desktop/2016weather.csv',parse_dates=['EDT'],infer_datetime_format=True)
max_temp_2016=weather_2016['Max TemperatureF']
weather_2016.head()

         EDT  Max TemperatureF  PrecipitationIn
0 2016-01-01                42              0.0
1 2016-01-02                40              0.0
2 2016-01-03                45              0.0
3 2016-01-04                36              0.0
4 2016-01-05                29              0.0

In [183]:
max_temp_2016

0     42
1     40
2     45
3     36
4     29
5     41
6     46
7     46
8     47
9     59
10    40
11    44
12    30
13    38
14    51
15    52
16    42
17    31
18    28
19    37
20    36
21    30
22    27
23    35
24    39
25    48
26    47
27    42
28    41
29    39
      ..
61    55
62    36
63    39
64    41
65    44
66    60
67    67
68    77
69    79
70    68
71    59
72    62
73    51
74    57
75    65
76    63
77    57
78    46
79    43
80    50
81    56
82    71
83    55
84    72
85    55
86    55
87    62
88    53
89    56
90    73
Name: Max TemperatureF, dtype: int64

In [171]:
prep_2016=max_temp_2016=weather_2016['PrecipitationIn']

In [219]:
df_2016_test=pd.DataFrame({'temperature':max_temp_2016,"prep":prep_2016,'weekday':weekday_2016})

In [220]:
df_2016_test

    prep  temperature weekday
0   0.00           42    True
1   0.00           40   False
2   0.00           45   False
3   0.00           36    True
4   0.00           29    True
5   0.00           41    True
6   0.00           46    True
7   0.00           46    True
8   0.00           47   False
9   1.80           59   False
10  0.00           40    True
11  0.00           44    True
12  0.00           30    True
13  0.00           38    True
14  0.00           51    True
15  0.24           52   False
16  0.05           42   False
17  0.00           31    True
18  0.00           28    True
19  0.00           37    True
20  0.00           36    True
21  0.01           30    True
22  2.31           27   False
23  0.00           35   False
24  0.00           39    True
25  0.00           48    True
26  0.00           47    True
27  0.00           42    True
28  0.00           41    True
29  0.00           39   False
..   ...          ...     ...
61  0.14           55    True
62  0.00           36    True
63  0.11           39    True
64  0.00           41   False
65  0.00           44   False
66  0.00           60    True
67  0.00           67    True
68  0.00           77    True
69  0.00           79    True
70  0.06           68    True
71  0.00           59   False
72  0.00           62   False
73  0.29           51    True
74  0.00           57    True
75  0.02           65    True
76  0.00           63    True
77  0.00           57    True
78  0.00           46   False
79  0.07           43   False
80  0.06           50    True
81  0.00           56    True
82  0.00           71    True
83  0.00           55    True
84  0.04           72    True
85  0.00           55   False
86  0.00           55   False
87  0.38           62    True
88  0.00           53    True
89  0.00           56    True
90  0.00           73    True

[91 rows x 3 columns]

In [179]:
weekday_2016=[]
for i in range(91):
    j =i % 7 +5
    if j == 6 or j == 7:
        weekday_2016.append(False)
    else:
        weekday_2016.append(True)

In [221]:
ypred=result.predict(df_2016_test)

In [222]:
ypred

array([ 19100.78117771,  11508.78438913,  14181.44705409,  15893.58597975,
        12151.85824881,  18566.24864472,  21238.91130968,  21238.91130968,
        15250.51212008,   3735.61906684,  18031.71611173,  20169.8462437 ,
        12686.3907818 ,  16962.65104574,  23911.57397464,  15532.60365849,
        12079.81380375,  13220.92331479,  11617.32571581,  16428.11851275,
        15893.58597975,  12586.78365153, -18449.38563285,   8836.12172417,
        17497.18357873,  22307.97637567,  21773.44384267,  19100.78117771,
        18566.24864472,  10974.25185614,  20061.30491701,  28088.22710831,
        23377.04144165,  20916.51372865,  28187.83423858,  14890.66833922,
        10974.25185614,  15250.51212008,  16999.14792737,  15893.58597975,
        17397.57644846,  13220.92331479,  11082.79318282,   1887.19879526,
        -1854.52893569,  10976.33971475,  15454.85141604,  17497.18357873,
        15893.58597975,  17497.18357873,  22733.96758197,  19227.9509932 ,
        24446.10650764,  15043.50220353,  16570.29687826,  29057.68504402,
        17497.18357873,  12043.31692212,  22199.43504898,  28758.8636532 ,
        24446.10650764,  24655.20428279,  15893.58597975,  16401.50514573,
        12043.31692212,  13646.9145211 ,  28722.36677158,  32464.09450252,
        37809.41983245,  38878.48489843,  32400.98425388,  21664.90251599,
        23268.50011496,  21022.96719672,  27118.7691726 ,  31195.81517599,
        30325.96437055,  27118.7691726 ,  14715.97958708,  12415.13207619,
        22779.39866001,  26584.23663961,  34602.22463449,  26049.70410661,
        34738.32864639,  19526.77238402,  19526.77238402,  26006.36088719,
        24980.63904063,  26584.23663961,  35671.28970048])

In [223]:
import numpy as np
import matplotlib.pyplot as plt

In [230]:
pred=np.array(ypred)

In [252]:
pred=pd.Series(pred)

In [254]:
pred.to_csv('pred.csv')

In [231]:
actual=np.array(trip_2016)

In [246]:
a=np.arange('2016-01', '2016-04', dtype='datetime64[D]')

In [247]:
a

array(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
       '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
       '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
       '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
       '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
       '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
       '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
       '2016-01-29', '2016-01-30', '2016-01-31', '2016-02-01',
       '2016-02-02', '2016-02-03', '2016-02-04', '2016-02-05',
       '2016-02-06', '2016-02-07', '2016-02-08', '2016-02-09',
       '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13',
       '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17',
       '2016-02-18', '2016-02-19', '2016-02-20', '2016-02-21',
       '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25',
       '2016-02-26', '2016-02-27', '2016-02-28', '2016-02-29',
       '2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
       '2016-03-05', '2016-03-06', '2016-03-07', '2016-03-08',
       '2016-03-09', '2016-03-10', '2016-03-11', '2016-03-12',
       '2016-03-13', '2016-03-14', '2016-03-15', '2016-03-16',
       '2016-03-17', '2016-03-18', '2016-03-19', '2016-03-20',
       '2016-03-21', '2016-03-22', '2016-03-23', '2016-03-24',
       '2016-03-25', '2016-03-26', '2016-03-27', '2016-03-28',
       '2016-03-29', '2016-03-30', '2016-03-31'], dtype='datetime64[D]')

In [248]:
plt.plot(a, pred,'r--',label="prediction")
plt.plot(a, actual, label="actual")
plt.legend(['prediction','actual'])
plt.show()

In [258]:
import plotly.plotly as py
py.sign_in('yuqimemeda', "pk4usp8314")
import plotly.graph_objs as go

trace1 = go.Bar(
    x=a,
    y=actual,
    name='actual',
    marker=dict(
        color='rgb(255,105,180)'
))

trace2 = go.Bar(
    x=a,
    y=pred,
    name='prediction',
    marker=dict(
        color='rgb(255,182,193)'
))





data = [trace1, trace2]
layout = go.Layout(
    barmode='plot',
    title="prediction VS actual in 2016",
    font=dict(
        family='Raleway, sans-serif'
    ),
    xaxis=dict(
        tickfont=dict(
            size=18,
            color='rgb(0,0,255)'
        )
    ),
    yaxis=dict(
        title='Number of Rides',
        titlefont=dict(
            size=18,
            color='rgb(0,0,0)'
        ),
        tickfont=dict(
            size=18,
            color='rgb(0,0,0)'
        )),
        legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='prediction')

# Webscraping

In [295]:
estimate=list()
pre=list()
day_delta=list()
weekday_list=list()
temp=list()
for i in range(5):
# webscrap future five days' temperature from the Internet
    url = "http://www.accuweather.com/en/us/new-york-ny/10007/daily-weather-forecast/349727?day=" + str(i+1)    
    url_response=ul.urlopen(url)
    soup= BeautifulSoup(url_response)
    if i==0:
        for table in soup.find_all('span'): #pick each link in turn
            h_table=table.get('class') #Get the class property of the link
            if h_table and 'temp' in h_table: #See if the word 'temp' is in the link
                sector_table=table
                break
        tomorrow_temp_str=sector_table.get_text()[:2]
    else:
        tomorrow_temp_str=((soup.find_all('strong'))[i+2]).get_text()[:2]
    tomorrow_temp=int(tomorrow_temp_str)    
    temp.append(tomorrow_temp)
    div1=soup.find_all('div')
    j =0
    for table in soup.find_all('div'): #pick each link in turn
        h_table=table.get('class') #Get the class property of the link
        if h_table and 'content' in h_table: #See if the word 'content' is in the link
            sector_table=table
            j=j+1
            if j == 2:
                break
    for table in sector_table.find_all('ul'): #pick each link in turn
        h_table=table.get('class') #Get the href property of the link
        if h_table and 'stats' in h_table: #See if the word 'stats' is in the link
            stats_table=table
    precipitation=(stats_table.find_all('li'))[2]
    tomorrow_pre_str=((precipitation.find_all('strong'))[0]).get_text()
    tomorrow_pre=float(tomorrow_pre_str.strip(' in'))  
    pre.append(tomorrow_pre)
    import datetime
    d = datetime.datetime.now() + datetime.timedelta(days=i)
    month1=d.month # get the month of the date
    from datetime import datetime,date
    a = datetime(2015, 1, 1,0,0)
    delta=d-a
    delta_day=delta.days
    day_delta.append(delta_day) # get the days passed since 01/01/2015
    
    if d.isoweekday() in range(1,6):
        weekday2=True
    else: 
        weekday2=False
    weekday_list.append(weekday2)

In [299]:
weekday_list

[True, True, True, False, False]

In [300]:
df_future=pd.DataFrame({'temperature':temp,"prep":pre,'weekday':weekday_list})

In [303]:
map(int,result.predict(df_future))

[42085, 41551, 38191, 35028, 35562]